<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountController</servlet-name>
        <servlet-class>Controllers.AccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <servlet-class>Controllers.UpdateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassManagement</servlet-name>
        <servlet-class>controllers.ClassManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassDetail</servlet-name>
        <servlet-class>controllers.ClassDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_StudentController</servlet-name>
        <servlet-class>controllers.Admin_StudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_TeacherController</servlet-name>
        <servlet-class>controllers.Admin_TeacherController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTeacherController</servlet-name>
        <servlet-class>controllers.EditTeacherController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_AccountController</servlet-name>
        <servlet-class>controllers.Admin_AccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminGradeController</servlet-name>
        <servlet-class>controllers.AdminGradeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>controllers.NewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/adminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountController</servlet-name>
        <url-pattern>/AccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <url-pattern>/UpdateAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClassManagement</servlet-name>
        <url-pattern>/classManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClassDetail</servlet-name>
        <url-pattern>/classDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_StudentController</servlet-name>
        <url-pattern>/Admin_StudentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_TeacherController</servlet-name>
        <url-pattern>/Admin_TeacherController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTeacherController</servlet-name>
        <url-pattern>/EditTeacherController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_AccountController</servlet-name>
        <url-pattern>/Admin_AccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminGradeController</servlet-name>
        <url-pattern>/AdminGradeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
</web-app>
